body #body {
	min-height:300px;
}

h1,nav {
	text-align:left;
}

.row {
	margin-left: 0px;
}

.span25 {
	width: 22%;
}

.span50 {
	width: 48%;
}

.navbar {
	float: left;
	margin-top: 20px;
}

.navbar .menu-button {
	margin-left: 0px;
}

.navbar ul li {
	font-weight: bold;
}

.navbar .nav>li {
	float: left;
	border: 1px solid #ccc;
	width: 32%;
	margin-left: 0px;
	text-align:center;
}

ul.navbar-nav {
	margin-left: 0px;
	width: 100%;
}

nav {
	width: 100%;
}

footer {
	clear: both;
	padding-top:25px;
	margin-left:30px;
	font-weight: bold;
	text-align:left;
}

.portlet {
	border:2px solid #eee;
}

.portletHeader {
	background-color: #eee;
	padding: 5px;
	font-weight: bold;
}

.portletContent {
	min-height: 150px;
	background-image: url('images/hourglass.png');
	background-repeat: no-repeat;
}

.portletConfig {
	background-color: #eee;
	float: right;
}

.configMenu {
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 2;
	background-color: #eee;
	height: 250px;
	width: 250px;
}

#mapPortlet {
	height: 50%;
}

.playback img {
	cursor: pointer;
}

.playbackWrapper {
	width: 80%;
	display: inline-block;
	padding-left:10px;
	padding-right:10px;
}

.playbackSpeed {
	display:inline-block;
	width: 50px;
}
